{% extends 'base.html' %}
{% block title %}Sign Up{% endblock title %}
{% block body %}


<!-- --------------------------------------------Css Code Body Start From Here----------------------------- -->

<style>

</style>


<!-- --------------------------------------------JavaScript Code Body Start From Here----------------------------- -->
<script type="text/javascript">

//  <!-- ----------------scripts for Prevent Form From Reloading & Submittimg The Signup Form------------------- -->

$(document).on('submit', '#post-form', function (e) {
  document.getElementById("sign_up").disabled = true;
  var spinner = '<div class="spinner-border" role="status"><span class="visually-hidden">Loading... </span></div> Saving info..'
  $('#sign_up').html(spinner);
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/sign_up',
        data: {
            fname:$('#f_name').val(),
            username: $('#username').val(),
            password: $('#password').val(),
            email: $('#email').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
          if(data=="1"){
              $('#sign_up').text("Sign Up");
              document.getElementById("sign_up").disabled = false;
              swal('Success!!','<b>Registerd Succesfully..</b>','success');
            speek_data('Sign-up Info Saved...');
            my_timeout = setTimeout(()=>{ clearTimeout(my_timeout);    window.location =  "/sign_in";},1480);
          }
          else{// indicate 2 for email
            sweetAlert("Error!!", "<b><b style='color:red';>Email Alredy Exist</b>..!</b>", "error");
            $('#sign_up').text("Sign Up");
            document.getElementById("sign_up").disabled = false;
          }
        },
        error: function (response) {
            alert('Something Went Wrong...');
        }

    });
});

</script>





<!-- --------------------------------------------Html Code Body Start From Here----------------------------- -->
<div class="container">
  <!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 100%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
           Welcome To  <br />
            <span class="text-primary">To-Do's</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
           To do WebApp.. For Saving Remainders
           Managing Remainders . <br>
            With Sign in And Signup 
           For Security Purpose..
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0" >
          <div class="card" style="border: 0.1rem solid red;border-radius: 2rem;">
            <div class="card-body py-5 px-md-5">
              <form id="post-form">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="f_name" class="form-control" required pattern="[^' ']+" />
                      <label class="form-label" for="f_name">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="username" class="form-control" required pattern="[^' ']+" />
                      <label class="form-label" for="username">Username</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" required pattern="[^' ']+" />
                  <label class="form-label" for="email">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="password" class="form-control" required pattern="[^' ']+" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <!-- Checkbox -->
                <!-- Submit button -->
                <button type="submit" id="sign_up" class="btn btn-primary" style="color:white">
                  Sign up 
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>Alredy Registerd ?</p>
                  <a href="/sign_in">Click here For Sign in</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

</div>

{% endblock body %}