{% extends 'base.html' %}
{% block title %}Sign In{% endblock title %}
{% block body %}


<!-- --------------------------------------------Css Code Body Start From Here----------------------------- -->

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
</style>


<!-- --------------------------------------------JavaScript Code Body Start From Here----------------------------- -->
<script type="text/javascript">

//  <!-- ----------------scripts for Prevent Form From Reloading & Submittimg The SignIn Form------------------- -->
$(document).on('submit', '#post-form', function (e) {
    document.getElementById("login_btn").disabled = true;
    var spinner = '<div class="spinner-border text-success" role="status"><span class="visually-hidden">Loading...</span></div>  Signing in..'
    $('#login_btn').html(spinner);
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url: '/sign_in',
          data: {
              username: $('#username').val(),
              password: $('#password').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function (data) {
            if(data=="1"){
                $('#login_btn').text("Login");
                swal('Success!!','<b>Login Succesfully..</b>','success');
                speek_data('Login Succesfully...');
                my_timeout = setTimeout(()=>{ clearTimeout(my_timeout);    window.location =  "/";},1400);
            }
            else{
                $('#login_btn').html("Login");
                document.getElementById("login_btn").disabled = false;
                sweetAlert("Error!!", "<b><b style='color:red';>Invalid Crediantials</b>..!</b>", "error");
            }
          },
          error: function (response) {
              alert('Something Went Wrong...');
          }
  
      });
  });
  

</script>


<!-- --------------------------------------------Html Code Body Start From Here----------------------------- -->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div align="center" style="margin-bottom: 0.5rem;margin-top: 0.3rem;">
                            <a id='head' href='/'><img id="home_logo" src="/static/home.jpg" alt="" width="25" height="40" class="d-inline-block align-text-top"></a>
                        </div>
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form id="post-form">
                                {% csrf_token %}
                                <h2 class="fw-bold mb-2 text-uppercase">Login To <b style="color: rgb(26, 150, 26);">To-Do's App</b></h2>
                                <p class="text-white-50 mb-5">Please enter your username and password!</p>

                                <div class="form-outline form-white mb-4">
                                    <input maxlength="12" required pattern="[^' ']+"  name="username" type="text" id="username" class="form-control form-control-lg" />
                                    <label class="form-label" for="username"> <p>Enter Username</p></label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input required  pattern="[^' ']+"  name="password" type="password" id="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <button id="login_btn" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </form>
                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="/sign_up" class="text-white-50 fw-bold">Sign
                                    Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock body %}